{% extends 'base.html' %}
{% block content %}

<h2>📊 Панель управления</h2>

<div class="card-grid">

<div class="card">
    <div class="icon">🚗</div>
    <h3>Всего машин</h3>
    <p>{{ total }}</p>
</div>

<div class="card">
    <div class="icon">⏳</div>
    <h3>Скоро истекают</h3>
    <p>{{ expiring }}</p>
</div>

<div class="card">
    <div class="icon">🔴</div>
    <h3>Просрочено</h3>
    <p>{{ overdue }}</p>
</div>

<div class="card">
    <div class="icon">💰</div>
    <h3>Не оплачено</h3>
    <p>{{ unpaid }}</p>
</div>

</div>

{% endblock %}
