{% extends 'base.html' %}
{% block content %}

<h2>👤 Водители</h2>

<form method="POST">
    <input name="full_name" placeholder="ФИО">
    <input name="payment_day" type="number" placeholder="День оплаты">
    <button>Добавить</button>
</form>

<table>
<tr>
    <th>ФИО</th>
    <th>День оплаты</th>
    <th>Оплата</th>
</tr>

{% for d in drivers %}
<tr>
    <td>{{ d.full_name }}</td>
    <td>{{ d.payment_day }}</td>
    <td>
        <a href="/toggle_driver/{{ d.id }}">
            {% if d.paid %} ☑ {% else %} ⬜ {% endif %}
        </a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}