{% extends 'base.html' %}
{% block content %}

<h2>🚗 Машины</h2>
<form method="GET">
    <input name="search" placeholder="🔍 Гос номер или имя">
    
    <select name="paid">
        <option value="">Все</option>
        <option value="paid">Оплачено</option>
        <option value="unpaid">Не оплачено</option>
    </select>

    <button type="submit">Фильтр</button>
</form>

<form method="POST">
    <input name="payer_name" placeholder="Имя плательщика">
    <input name="model" placeholder="Модель">
    <input name="plate_number" placeholder="Гос номер">
    <input name="tech_end_date" type="date">
    <input name="osgo_end_date" type="date">
    <button>Добавить</button>
</form>

<table>
<tr>
    <th>Плательщик</th>
    <th>Модель</th>
    <th>Гос номер</th>
    <th>Техосмотр</th>
    <th>ОСГОП</th>
    <th>Оплата</th>
</tr>

{% for v in vehicles %}
<tr>
    <td>{{ v.payer_name }}</td>
    <td>{{ v.model }}</td>
    <td>{{ v.plate_number }}</td>
    

    {% set tech_status = get_status(v.tech_end_date) %}
<td class="{{ tech_status[0] }}">
    {{ v.tech_end_date }}<br>
    <small>{{ tech_status[1] }}</small>
</td>

   {% set osgo_status = get_status(v.osgo_end_date) %}
<td class="{{ osgo_status[0] }}">
    {{ v.osgo_end_date }}<br>
    <small>{{ osgo_status[1] }}</small>
</td>

    <td>
        <a href="/toggle_vehicle/{{ v.id }}">
            {% if v.paid %} ☑ {% else %} ⬜ {% endif %}
        </a>
    </td>
    <td>
    <a href="/edit_vehicle/{{ v.id }}">✏️ Редактировать</a>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
